RewriteEngine On
RewriteCond %{REQUEST_URI} !^/node_app/
RewriteRule ^(.*)$ /node_app/$1 [L]
RewriteCond %{HTTP_HOST} ^example.com$ [NC]
RewriteRule ^(.*)$ http://www.citylayers.visualculture.tuwien.ac.at/$1 [L]
