
<!DOCTYPE html>
<html>

<head>
    <title>Impressum</title>
    <%- include('parts/header.ejs'); %>
    <link rel="stylesheet" href="/css/404.css">
    <link rel="stylesheet" href="/css/legal.css">

</head>

<body>

<div class="main" id="main">
        
    <div class="legalpanel">
        <div class="legalheader">
            <a href="/">
                <img class="logo" src="/images/logo_2.svg">
            </a>
        </div>
        <div class="panel">
            <div class="errorcode">
                404
            </div>
            <div class="subtitle">
                🌆 Looks like you are lost between city layers:)
            </div>
        </div>
    </div>
</div>

<%- include("parts/footer.ejs") %>
</body>
</html>