
<!DOCTYPE html>
<html>
<head>
    <title>Back Office</title>
    <%- include('parts/header.ejs'); %>
</head>


<body>
<div class="main" id="main">
    <div class="legalpanel">
        <div class="legalheader">
            <a href="/">
                <img class="logo" src="/images/logo_2.svg">
            </a>
        </div>
        <!-- locale -->
        <div class="legaltitle">
            Back OFfice
        </div>
        <div class="legalbody">
            
            <div>
                
            </div>
        </div>
    
    </div>
</div>
        
<%- include("parts/footer.ejs") %>
</body>
</html>