
<!DOCTYPE html>
<html>

<head>
    <title>Impressum</title>
    <%- include('parts/header.ejs'); %>
    

</head>

<body>

<div class="main" id="main">
        
    <div class="legalpanel">
        <div class="legalheader">
            <a href="/">
                <img class="logo" src="/images/logo_2.svg">
            </a>
        </div>
        <div class="legaltitle">
            Impressum
        </div>
        <div class="legalbody">
            DEPARTMENT OF VISUAL CULTURE (E264-03) 
            <br>
            INSTITUTE OF ART AND DESIGN TU Wien
            <br>
            Karlsplatz 13/264-03, 1040 Vienna
            <br>
            +43 1 58801-26403 
            <br>
            visualculture@tuwien.ac.at
            <br>
        </div>
    </div>
</div>

<%- include("parts/footer.ejs") %>
</body>
</html>