<!DOCTYPE html>
<html>
<head>
    <title>Map it! <%- title %></title>
    <%- include('parts/header.ejs'); %>
    
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="/css/container.css">
    <link rel="stylesheet" href="/css/controller.css">
        
    <script type="text/javascript" src="/js/logic/config.js"></script>
    <script type="text/javascript" src="/js/logic/projectInfo.js"></script>
    <script type="text/javascript" src="/js/logic/project.js"></script>

    <!-- Base UI Classes - MUST load before other components -->
    <script type="text/javascript" src="/js/ui/component/celement.js"></script>
    <script type="text/javascript" src="/js/ui/component/cbutton.js"></script>
    <script type="text/javascript" src="/js/ui/component/infoelement.js"></script>

    <script type="text/javascript" src="/js/ui/component/inputElement.js"></script>
    <script type="text/javascript" src="/js/question/pubsub.js"></script>
    <script type="text/javascript" src="/js/question/question.js"></script>
    <script type="text/javascript" src="/js/question/answerParser.js"></script>
    <script type="text/javascript" src="/js/question/answerTree.js"></script>
    <script type="text/javascript" src="/js/question/controlTree.js"></script>
    <script type="text/javascript" src="/js/ui/component/colorpicker.js"></script>
    <script type="text/javascript" src="/js/question/controllerElement.js"></script>
    <script type="text/javascript" src="/js/question/controller.js"></script>
    <script type="text/javascript" src="/js/question/controllerParser.js"></script>
    

    <!-- hrElement.js and spanElement.js already loaded in header.ejs -->
    <script type="text/javascript" src="/js/ui/component/slider.js"></script>
    <!-- infoelement.js already loaded earlier (extends CElement) -->
    <!-- imageContainerElement.js already loaded in header.ejs -->
    <script type="text/javascript" src="/js/ui/component/projectComponent.js"></script>
    <!-- legal.js already loaded in header.ejs -->
    <script type="text/javascript" src="/js/ui/panel/sidePanel.js"></script>
    <script type="text/javascript" src="/js/ui/panelcomponent/teamComponent.js"></script>
    <script type="text/javascript" src="/js/ui/panel/teamPanel.js"></script>
    <script type="text/javascript" src="/js/ui/panelcomponent/GradientContainer.js"></script>
    <script type="text/javascript" src="/js/ui/panelcomponent/configHeader.js"></script>
    <script type="text/javascript" src="/js/ui/panelcomponent/vischoiceContainer.js"></script>
    <script type="text/javascript" src="/js/ui/panelcomponent/controllerContainerManager.js"></script>
    <script type="text/javascript" src="/js/ui/panelcomponent/controllerContainer.js"></script>
    
    <script type="text/javascript" src="/js/ui/panel/qPanel.js"></script>

    <script type="text/javascript" src="/js/ui/panelcomponent/landing.js"></script>
    <script type="text/javascript" src="/js/ui/panel/projectCard.js"></script>
    <script type="text/javascript" src="/js/ui/panel/homePanel.js"></script>
    <script type="text/javascript" src="/js/page/pin.js"></script>
    <script type="text/javascript" src="/js/karta/positioning.js"></script>
    <script type="text/javascript" src="/js/karta/karta.js"></script>
    <script type="text/javascript" src="/js/ui/component/switch.js"></script>
    <script type="text/javascript" src="/js/ui/panelcomponent/categoryController.js"></script>
    <script type="text/javascript" src="/js/ui/panel/configPanel.js"></script>
    <script type="text/javascript" src="/js/ui/panel/dashboard.js"></script>
    <script type="text/javascript" src="/js/pageBuilder.js"></script>
    <script type="text/javascript" src="/js/karta/leaflet-heat.js"></script>

</head>

<body>
    

<div class="main" id="main">
    <script type='text/javascript'>
        
        const pubsub = new PubSub();
        const colorpubsub = new PubSub();
        const vischoicepubsub = new PubSub();
        let globalvisualization = new GlobalVisualization(VIS.GRADIENT);

        const tree = new ControlTree();
        window.tree = tree; // Make tree globally accessible for controllers
        
        // Initialize QPanel.tree for slider components
        if (typeof QPanel !== 'undefined') {
            QPanel.tree = tree;
        }

        PageBuilder.build(PAGES.KARTA, <%- JSON.stringify(data) %>);

    </script>
        
    
</div>
<%- include("parts/footer.ejs") %>
</body>
</html>