<!DOCTYPE html>
<html>
<head>
    <title>Citylayers</title>
    <%- include('parts/header.ejs'); %>
    
    <link rel="stylesheet" href="/css/landing.css">
        
    <script type="text/javascript" src="/js/logic/config.js"></script>
    <script type="text/javascript" src="/js/logic/projectInfo.js"></script>
    <script type="text/javascript" src="/js/logic/project.js"></script>
    <script type="text/javascript" src="/js/constants/SectionConstants.js"></script>
    <script type="text/javascript" src="/js/ui/component/projectComponent.js"></script>
    
    <script type="text/javascript" src="/js/ui/panelcomponent/teamComponent.js"></script>
    <script type="text/javascript" src="/js/ui/panel/teamPanel.js"></script>
    <script type="text/javascript" src="/js/ui/panelcomponent/landing.js"></script>
    <script type="text/javascript" src="/js/ui/panel/projectPanel.js"></script>
    <script type="text/javascript" src="/js/ui/panel/homePanel.js"></script>
    <script type="text/javascript" src="/js/page/pin.js"></script>
    <script type="text/javascript" src="/js/pageBuilder.js"></script>

</head>

<body>
    

<div class="main" id="main">
    <script type='text/javascript'>
        PageBuilder.build(PAGES.HOME, <%- JSON.stringify(data) %>);

    </script>
        
    
</div>
<%- include("parts/footer.ejs") %>
</body>
</html>