
<!DOCTYPE html>
<html>


<head>
    <title>Data privacy and protection</title>
    <%- include('parts/header.ejs'); %>
    

</head>

<body>

<div class="main" id="main">
    <div class="legalpanel">
        <div class="legalheader">
            <a href="/">
                <img class="logo" src="/images/logo_2.svg">
            </a>
        </div>
        
        <div class="legaltitle">
        Data privacy and protection
        </div>
        <div class="legalbody">
            <div>
            City Layers is committed to protecting your privacy. Here's how we handle your data:
            </div>
            <div class="legaltextframed">
                We don't collect or process any personal information from users.;
            </div>
            <div class="legaltextframed">
            We follow 
                <a href="https://www.tuwien.at/index.php?eID=dumpFile&t=f&f=209199&token=98a42a707abe5707d503069ba24f24a6ce9fee84#:~:text=We%20will%20not%20transfer%20your,legally%20obliged%20to%20disclose%20data">TU Wien's data protection guidelines</a>.
            </div>
            <div class="legaltextframed">
                Our web app doesn't use cookies or tracking technologies.
            </div>
            <div>
                <a href="mailto:lovro.koncar-gamulin@tuwien.ac.at">Contact us</a> for any further questions.
            </div>
        </div>
        
    </div>
</div>
<%- include("parts/footer.ejs") %>
</body>
</html>