<!DOCTYPE html>
<html>
<head>
    <title><%- title %></title>
    <%- include('parts/header.ejs'); %>
    
    <link rel="stylesheet" href="/css/projectCard.css">
        
    <script type="text/javascript" src="/js/ui/component/projectComponent.js"></script>
    <script type="text/javascript" src="/js/ui/panelcomponent/teamComponent.js"></script>
    <script type="text/javascript" src="/js/ui/panel/projectCard.js"></script>
    <script type="text/javascript" src="/js/page/pin.js"></script>
    <script type="text/javascript" src="/js/pageBuilder.js"></script>

</head>

<body>
    

<div class="main" id="main">
    <script type='text/javascript'>
        PageBuilder.build(PAGES.PROJECT, <%- JSON.stringify(data) %>);
    </script>
        
    
</div>
<%- include("parts/footer.ejs") %>
</body>
</html>